<html>

<head>
<title>Minesweeper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script src="minesweeper.js"></script>
<link rel="stylesheet" type="text/css" href="minesweeper.css" />
<link rel="stylesheet" type="text/css" href="mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" />
<script type="text/template" id="tile-template">
<% if (revealed && !mined && value) { return value } %>
</script>

<script type="text/template" id="status-template">
Mines: <%= mined %>,
Revealed: <%= revealed %>,
Remaining: <%= remaining %>,
Flagged: <%= flagged %>
</script>
</head>

<body>
<h1 id="title">Minesweeper</h1>
<div id="game">
	<div id="controls">
		<button id="new">New Game</button>
		<button id="validate">Validate</button>
		<button id="cheat">Cheat</button>
	</div>
    <table id="grid"></table>
    <div id="status"></div>
	<a href="https://github.com/songe/minesweeper#how-to">Help</a>
</div>
<div id="credits">
Created by <a href="https://github.com/songe">Eunjie Song</a><br/>
Powered by <a href="http://backbonejs.org">Backbone.js</a><br/>
Code on <a href="https://github.com/songe/minesweeper">github</a>
</div>
</body>

</html>
