body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
    color: #888888;
}

div, table { /* center by default */
    text-align: center;
    margin: auto;
}

h1#title {
    text-align: center;
}

table#grid tr td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #000000;
    box-shadow: inset -3px -3px 3px #555;
    background-color: #DDDDDD;
    background-image: url("flag.png"), url("bomb.png");
    background-size: 100% 100%, 100% 100%;
    background-position: -999px -999px, -999px -999px;
    background-repeat: no-repeat;
}

table#grid tr td:hover {
    background-color: #EEEEEE;
}

table#grid tr td.mined {
    background-position: -999px -999px, left top;
}

table#grid tr td.flagged {
    background-position: left top, -999px -999px;
}

table#grid tr td.mined.flagged {
    background-position: left top, left top;
}
    
table#grid tr td.revealed {
    box-shadow: none;
    background-color: #CCCCCC;
}

#status {
    text-align: center;
}

#credits {
    margin-top: 20px;
    margin-bottom: 20px;
}